# Ignore Images
*.jpg
*.jpeg
*.png
*.psd
*.webp
!/img/*.jpg
!favicon.png

# Dont ignore mockup animations
!img/mockup/*.png

# Ignore Combine24objects.json
Combine24objects*.json

# Ignore Videos
*.avi
*.mp4
*.webm
img/Videitos Mobil
!img/videos/cosmos/flower_bloom.mp4


# Ignore all exports folder
exports/*

# Ignore .DS_Store
.DS_Store

# Ignore zips
*.zip

# Ignore VSCode settings
.vscode/*

# Ignore Open Call files (dossiers and pdfs and so on)
dossiers/*